<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>guest 페이지</title>
	<link href="resources/login/style.css" rel="stylesheet" />
  
</head>

<body>

  <div class="div_top form-group col-md-5 col-sm-8 col-xs-12 container" >
  	<form name="page-wrapper" method="post" action="" class=" form-control2">
  		<header id="header_guest"><img src="assets/img/lotte-logo.png" alt="lotte logo" align="middle" style="width:50px;position: relative;top: 50%;transform:translateY(-50%);">guest</header>
  			
  			
  		<div class="help form-group">얼굴 인식을 진행하려면 누르세요.</div>
  		<button class=" btn_guest">얼굴 인식O</button>
  		<div class="help form-group">얼굴 인식을 하고 싶지 않으면 누르세요.</div>
  		<button class="btn_guest">얼굴 인식X</button>
	</form>
	</div>

</body>
</html>